*.idea

*/CMakeLists.txt
CMakeLists.txt
*CMakeLists.txt

*/cmake-build-debug/*
/cmake-build-debug
*/cmake-build-debug

tp1/exo3/cmake-build-debug/

tp3/exo2/cmake-build-debug/
tp3/exo3/cmake-build-debug/

tp4/exo1/cmake-build-debug/

tp5/exo1/cmake-build-debug/
tp5/exo2/cmake-build-debug/

tp6/exo2/cmake-build-debug/
tp6/exo3/cmake-build-debug/

tp7/exo1/cmake-build-debug/
tp7/exo2/cmake-build-debug/
tp7/exo3/cmake-build-debug/
